ul {
    list-style-type: none;
    -webkit-padding-start: none;
    padding: 0;
}

.w120 {
    width: 120px
}

h3 {
    font-size: 1.5rem;
}

.f24 {
    font-size: 24px;
}

.pl40 {
    padding-left: 40px;
}

.pb40 {
    padding-bottom: 40px;
}

.mb10 {
    margin-bottom: 10px
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px
}

.pb30 {
    padding-bottom: 30px;
}

.pl20 {
    padding-left: 20px !important
}

.pr40 {
    padding-right: 40px !important
}

.pr20 {
    padding-right: 20px !important
}

.pr10 {
    padding-right: 10px !important
}

.mt40 {
    margin-top: 40px;
}

.ml40 {
    margin-left: 40px;
}

.ml30 {
    margin-left: 30px
}

.pt80 {
    padding-top: 80px
}

.pb80 {
    padding-bottom: 80px;
}

.nopadding {
    padding: 0 !important
}

.nomargin {
    margin: 0 !important
}



.jumbotron {
    min-height: 500px;
}

.light_blue_block {
    background: #f5f8f9;
    padding: 100px 0;
    line-height: 2;
}

.blue {
    color: #57d0e8
}

.font-normal {
    font-weight: normal;
}

.f3 {
    font-size: 3rem;
}

.f4 {
    font-size: 4rem;
}

.hide {
    display: none !important;
}

.color1 {
    color: #91aa32
}
.color2 {
    color: #2ac2e1
}

.bg_color2 {
    background-color: #2ac2e1
}


.bg_color3 {
    background-color: #abca11
}

.capitalize {
    text-transform: capitalize
}


a,a:hover {
    text-decoration: none;
}






/* Microsoft Edge */

.vertical_center {
    align-items: center;
    display: flex;
}

label,
.tips {
    color: #abaeae
}


.tips {
    line-height: 1.2;
}


.word_upper {
    text-transform: uppercase;
}










/*header*/

header .pull-right {
    margin-right: -15px
}

header .navbar {
    height: 120px;
    justify-content: space-between;
}

header .logo {
    /* margin-left: -15px; */
}

header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

header .navbar-light .navbar-nav .nav-link {
    color: #8d9290;
}

header a.nav-link:hover,
header a.nav-link.router-link-exact-active.router-link-active {
    color: #1f1e1e;
}

header .login_block {
    height: 40px;
    background: #000;
    color: #fff;
    line-height: 40px;
}

header .login_block a {
    color: #848988
}

header .login_block a:hover {
    color: #eee;
    text-decoration: none;
}

header .nav-item .nav-link button {
    cursor: pointer;
}







/*footer*/

footer {
    ;
    height: 100px;
    background: #272728;
}

footer .logo_block {
    background: #a9c809;
    height: 100px;
    padding: 0;
}

footer .contact {
    color: #fff;
    text-align: right;
    padding: 30px 0 0 0;
}

footer .copyright {
    color: #49494a
}

footer .container {
    padding: 0 30px;
}

footer .bg {
    width: 40%;
    position: absolute;
    height: 100px;
    background: #a9c809;
}





